@import url(normalize.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    outline: 0;
    border: 0;
}

@font-face {
    font-family: 'Play-Bold';
    src: url('fonts/Play/play-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Play-Regular';
    src: url('fonts/Play/play-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OSB';
    src: url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OSR';
    src: url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BR';
    src:url('fonts/bitsumishi/bitsumis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.wrapper {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

ul {list-style: none;
}
a,a:hover{text-decoration: none;
}



.clearfix:after{
	content: '';
	display: table;
    clear: both;
}

.container {
	max-width: 1083px;
	margin: 0 auto;
    padding-bottom: 13px;
	border-bottom: 1px solid #616065;
}
/*start Head*/
header {
	padding:10px 0;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.logo{
	float: left;
	display: block;
	vertical-align: middle;
    margin-left: 5px;
	
}

.nav {
	float: right;

}
.nav li {
	float: left;
	margin-right:42px;
	text-align: center;
    transform: skew(-20deg);
    margin-top: 4px;
}
.nav li:last-child{
	margin-right: -8px;
}
.nav li:first-child{
    margin-right:26px;
}
.nav a {
	color: #a1a1a8;  
    display: inline-block;  
    width: 65px;
    height: 30px;
    transform: skew(20deg);
    text-align: center;  
    text-decoration: none;  
    line-height: 30px;  
    font-family: 'Play-Bold';
	text-decoration: none;
	font-size: 14px;
  
}
.nav li:hover {
     background: #7fad30;
    transition: all 0.2s;
}
.nav li:hover a{
    color: white;
    transition: all 0.2s;
}
.head-title{
	height: 774px;
	padding-top: 275px;
	text-align: center;
	color: #fff;
	background: #3c3f44 url(images/1.jpg) no-repeat center bottom;
	background-size: cover;
	cursor: pointer;
}
.head-title2{
	height: 774px;
	padding-top: 275px;
	text-align: center;
	color: #fff;
	background: #3c3f44 url(images/4.jpg) no-repeat center bottom;
	background-size: cover;
	cursor: pointer;
}
.head-title3{
	height: 774px;
	padding-top: 275px;
	text-align: center;
	color: #fff;
	background: #3c3f44 url(images/3.jpg) no-repeat center bottom;
	background-size: contain;
	background-size: cover;
	cursor: pointer;
}
.head-title h1{
	font-family: 'Play-bold';
	font-size: 40px;
	line-height: 30px;

}
.head-title h3{
	font-family: 'Play-Regular';
	font-size: 30px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 60px;

}
.head-title2 h1{
	font-family: 'Play-bold';
	font-size: 40px;
	line-height: 30px;

}
.head-title2 h3{
	font-family: 'Play-Regular';
	font-size: 30px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 60px;

}
.head-title3 h1{
	font-family: 'Play-bold';
	font-size: 40px;
	line-height: 30px;

}
.head-title3 h3{
	font-family: 'Play-Regular';
	font-size: 30px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 60px;

}
.head-container{
    text-align: center;
}
.btn{
    display: inline-block;
    width: 114px;
    height: 40px;
    transform:skew(-20deg);
    position: relative;
    background: #a1a1a1;
}
.btn a{
	font-family: Play-bold;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	text-decoration: none;
    transform:skew(20deg);
    position: absolute;
    left: 20px;
	
}
.btn:hover {
	color: #fff;
    background: #7fad30;
}
/*End Head*/

/*Start Main*/

.main-container{
	max-width: 1084px;
	margin: 0 auto;
	border-bottom: 1px solid #a8a8a8;
}
main {
	padding:36px 0;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.main-logo{
	float: right;
	display: block;
	vertical-align: middle;
}

.main-hot {
	float: left;
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding-top: 5px;
	padding-bottom: 10px;

}
.main-hot span {
	color: #7fad30;
}
.main-title{
	text-align: center;
	color: #fff;
	background: #3c3f44 url(images/BG-main.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 139px;
	

}
.main-title-box {
	font-size: 0;
	width: 100%;
	padding-top: 133px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
    margin-bottom: 45px;
}
.main-box1,.main-box2,.main-box3 {
	margin-right: 60px;
	width: 320px;
	display: inline-block;
	position: relative;
}
.main-box3:last-child {
	margin-right: 0;
}

.main-box1-text,.main-box2-text,.main-box3-text{
	background-image: url(images/main-box1-text.png);
	background-repeat: no-repeat;
	position: relative;
}

.main-box1-img{
	display: block;
}
.main-box1-img img{
    width: 100%;
    height: auto;
}
.main-box2-img img{
    width: 100%;
    height: auto;
}
.main-box3-img img{
    width: 100%;
    height: auto;
}
.main-box1-text h4{
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding:15px 41px 10px 5px;
    background-color: #fff;
    position: relative;
}
.main-box1-text p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 3px 15px 83px 15px;
	position: relative;

}
.main-box1-button{
	width: 122px;
	height: 40px;
	font-family: 'Play-bold';
	color: #fff;
	font-size: 16px;
	line-height: 40px;
    transform: skew(-20deg);
	position: relative;
	bottom: 20px;
	left: 91px;
    background: #a1a1a1;
}
.main-box1-button span{
    display: block;
    transform: skew(20deg);
    
}
.main-box2-button span{
    display: block;
    transform: skew(20deg);
    
}
.main-box3-button span{
    display: block;
    transform: skew(20deg);
    
}
.main-box2-text h4{
    font-family: 'Play-bold';
    font-size: 20px;
    color: #5d5d5d;
    padding: 15px 41px 10px 17px;
    background-color: #fff;
    position: relative;
    text-align: left;

}
.main-box2-text p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 3px 15px 83px 15px;
	position: relative;

}
.main-box2-button{
	width: 122px;
	height: 40px;
	font-family: 'Play-bold';
	color: #fff;
	font-size: 16px;
	line-height: 40px;
    transform: skew(-20deg);
	position: relative;
	bottom: 20px;
	left: 91px;
    background: #a1a1a1;
}
.main-box3-text h4{
    font-family: 'Play-bold';
    font-size: 20px;
    color: #5d5d5d;
    padding: 15px 41px 10px 17px;
    background-color: #fff;
    position: relative;
    text-align: left;
}
.main-box3-text p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 3px 15px 83px 15px;
	position: relative;

}
.main-box3-button{
    width: 122px;
	height: 40px;
	font-family: 'Play-bold';
	color: #fff;
	font-size: 16px;
	line-height: 40px;
    transform: skew(-20deg);
	position: relative;
	bottom: 20px;
	left: 91px;
    background: #a1a1a1;
}
.main-box1:hover .main-box1-button{
	background: #7fad30;
}
.main-box2:hover .main-box2-button {
	background: #7fad30;
}
.main-box3:hover .main-box3-button {
	background: #7fad30;
}
.main-box1:hover h4{
	color: #7fad30;
	background-image: url(images/main-box2-text.png);
}

.main-box2:hover h4{
	color: #7fad30;
}
.main-box3:hover h4{
	color: #7fad30;
}
.main-box1:hover .main-box1-text{
	background-image: url(images/main-box2-text.png);
	background-position: 0 -5px;
}
.main-box2:hover .main-box2-text{
	background-image: url(images/main-box2-text.png);
	background-position: 0 -5px;
}
.main-box3:hover .main-box3-text{
	background-image: url(images/main-box2-text.png);
	background-position: 0 -5px;
}
.main-news {
	max-width: 1084px;
	margin: 0 auto;
	font-size: 0;
    background: -moz-linear-gradient(top, rgba(247,247,247,0.8) 0%, rgba(247,247,247,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf7f7f7', endColorstr='#ccf7f7f7',GradientType=0 );
    border-bottom: 5px solid #a1a1a1;
    position: relative;
}

.main-news-box1{
	max-width: 760px;
	display: inline-block;
}

.main-news-container{
	max-width: 726px;
	padding-top: 28px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 1px solid #e9e9e9;
}

.cont{
	width: 100%;
	background-color: #fff;
	border-top: 5px solid #7fad30;
}
.main-news-logo{
	padding-top: 5px;
	float: right;
}

.main-news-last {
	float: left;
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding-top: 5px;
	padding-bottom: 10px;

}
.main-news-last span {
	color: #7fad30;
}

/*End Main*/

/*Start News Box*/


.main-news-img{
    width: 100%;
    height: auto;
	padding-top: 27px;
	background: #fff;
}
.main-news-img>img{
    width: 100%;
    height: auto;
    padding: 0 17px;
}
.main-news-img2,.main-news-img3{
	padding-top: 19px;
	background: #fff;
}
.main-news-img2 img {
    width: 100%;
    height: auto;
    padding: 0 17px;
}
.main-news-img3 img {
    width: 100%;
    height: auto;
    padding: 0 17px;
}
.main-news-box1-text h4{
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding: 17px 0px 16px 17px;
    background-color: #fff;
    text-align: left;

}
.main-news-box1-text2 h4{
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding: 22px 0px 16px 17px;
    background-color: #fff;
    text-align: left;

}
.main-news-box1-text3 h4{
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding: 17px 0px 16px 17px;
    background-color: #fff;
    text-align: left;

}

.main-news-box1-text p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 1px 1px 0px 17px;
	background-color: #fff;
}
.main-news-box1-text2 p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 1px 1px 0px 17px;
	background-color: #fff;
}
.main-news-box1-text3 p{
	font-family: 'Play-Regular';
	font-size: 15px;
	color: #5d5d5d;
	line-height: 1.5;
	text-align: left;
	padding: 1px 1px 0px 17px;
	background-color: #fff;
}

.main-news-foot,.main-news-foot2,.main-news-foot3{
	padding-top: 46px;
	width: 100%;
	background-color: #fff;

}

.main-foot-container,.main-foot-container2,.main-foot-container3{
	max-width: 726px;
	margin: 0 auto;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 25px;

}

.main-foot-btn,.main-foot-btn2,.main-foot-btn3 {
	float: right;
    width: 121px;
    height: 40px;
	font-family: 'Play-bold';
	font-size: 16px;
	line-height: 35px;
	color: #7fad30;
    transform: skew(-20deg);
    border: 2px solid #7fad30;
    text-align: center;
    margin-right: 15px;
}
.main-foot-btn:hover{
    background: #7fad30;
    
}
.main-foot-btn:hover a{
    color: #fff;
}
.main-foot-btn2:hover{
    background: #7fad30;
    
}
.main-foot-btn2:hover a{
    color: #fff;
}
.main-foot-btn3:hover{
    background: #7fad30;
    
}
.main-foot-btn3:hover a{
    color: #fff;
}
.main-foot-btn a{
    display: inline-block;
    transform: skew(20deg);
    
}
.main-foot-btn2 a{
	display: inline-block;
    transform: skew(20deg);
}

.main-foot-btn3 a{
    display: inline-block;
    transform: skew(20deg);
}


.data,.clock,.name,.data2,.clock2,.name2,.data3,.clock3,.name3 {
	float: left;
	padding-top: 8px;
}

.main-foot-container a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #c5c5c5;
	display: inline-block;
	text-decoration: none;

	
} 
.main-foot-container2 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #c5c5c5;
	display: inline-block;
	text-decoration: none;

	
} 
.main-foot-container3 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #c5c5c5;
	display: inline-block;
	text-decoration: none;

	
} 
.data a {
	margin-right: 22px;
}
.data2 a {
	margin-right: 22px;
}
.data3 a {
	margin-right: 22px;
}
.data a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
.data2 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
.data3 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
.clock a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-position: -120px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	
}
.clock2 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-position: -120px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	
}
.clock3 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-position: -120px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	
}
.clock a{
	margin-right: 18px;
}
.clock2 a{
	margin-right: 18px;
}
.clock3 a{
	margin-right: 18px;
}


.name span {
	font-family: 'Play-Regular';
	font-size: 14px;
}
.name2 span {
	font-family: 'Play-Regular';
	font-size: 14px;
}
.name3 span {
	font-family: 'Play-Regular';
	font-size: 14px;
}
.name a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-repeat: no-repeat;
	background-position: -198px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
.name2 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-repeat: no-repeat;
	background-position: -198px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
.name3 a:before {
	padding-right: 10px;
	content: '';
	display: inline-block;
	background-image: url(images/sprite1.png);
	background-repeat: no-repeat;
	background-position: -198px 0;
	height: 20px;
	width: 20px;
	vertical-align: middle;

}
/*End News Box*/


/*Start Article and Forum*/


.main-news-box2 {
    width: 324px;
    display: inline-block;
    float: right;
  
    
}


.main-news-container2{
	max-width: 287px;
	padding-top: 33px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 1px solid #c9c9c9;

	
}
.main-news-container3{
	width: 287px;
	padding-top: 27px;
	padding-bottom: 23px;
	margin: 0 auto;
	border-bottom: 1px solid #c9c9c9;
}

.main-news-logo2,.main-news-logo3{
	
	float: right;

}
.main-news-logo2{
    width: 25px;
    height: 31px;
    background-image: url(images/icons/icon4.png);
}

.main-news-last2,.main-news-last3{
	float: left;
	font-family: 'Play-bold';
	font-size: 20px;
	color: #5d5d5d;
	padding-bottom: 5px;

}
.main-news-last2 span {
	color: #7fad30;
}
.main-news-last3 span {
	color: #7fad30;
}

.blok2 {
	border-top: 5px solid #7fad30;

}
.articles-box{
	padding-left: 19px;
	padding-top: 28px;

}
.articles-box2,.articles-box3,.articles-box4,.articles-box5{
	padding-top: 16px;
	padding-left: 19px;
}

.article-left,.article-left2,.article-left3,.article-left4,.article-left5{
	float: left;
}
.article-left>img{
    width: 100%;
    height: auto;
}
.article-left2>img{
    width: 100%;
    height: auto;
}
.article-left3>img{
    width: 100%;
    height: auto;
}
.article-left4>img{
    width: 100%;
    height: auto;
}
.article-left5>img{
    width: 100%;
    height: auto;
}
.article-right,.article-right2,.article-right3,.article-right4,.article-right5{
	max-width: 175px;
	float: right;
    position: relative;
	
}
.article-container,.article-container2,.article-container3,.article-container4,.article-container5{
	padding-bottom: 16px;
	border-bottom: 1px solid #c9c9c9;
}

.article-right-text,.article-right-text2,.article-right-text3,.article-right-text4,.article-right-text5 {
	font-family: 'Play-bold';
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	color: #5d5d5d;
	padding-right: 10px;
}
.article-right-date{
	padding-top: 7px;
	float: left;
	display: block;
}

.article-right-date2,.article-right-date3,.article-right-date4,.article-right-date5  {
	padding-top: 24px;
	float: left;
}

.article-right-date a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.article-right-date2 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.article-right-date3 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.article-right-date4 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.article-right-date5 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.article-right-date a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;

}
.article-right-date2 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;

}
.article-right-date3 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;

}
.article-right-date4 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;

}
.article-right-date5 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;

}
.article-right-button {
    margin-top: 35px;
    width: 65px;
    display: block;
    border-top: 26px solid #a1a1a1;
    border-right: 9px solid transparent;
    position: relative;
}
.article-right-button2,.article-right-button3,.article-right-button4,.article-right-button5{
    margin-top: 52px;
    width: 65px;
    display: block;
    border-top: 26px solid #a1a1a1;
    border-right: 9px solid transparent;
    position: relative;
}

.article-right-button a {
	display: block;
    position: absolute;
	font-family: 'Play-bold';
	font-size: 14px;
	color: #fff;
    bottom: 5px;
    left: 10px;
}
.article-right-button:hover{ 
    margin-top: 35px;
    width: 65px;
    display: block;
    border-top: 26px solid #7fad30;
    border-right: 9px solid transparent;
}
.article-right-button2 a{
    display: block;
    position: absolute;
	font-family: 'Play-bold';
	font-size: 14px;
	color: #fff;
    bottom: 5px;
    left: 10px;
}
.article-right-button2:hover{ 
    margin-top: 52px;
    width: 65px;
    display: block;
    border-top: 26px solid #7fad30;
    border-right: 9px solid transparent;
}
.article-right-button3 a{
	display: block;
    position: absolute;
	font-family: 'Play-bold';
	font-size: 14px;
	color: #fff;
    bottom: 5px;
    left: 10px;
}
.article-right-button3:hover{ 
    margin-top: 52px;
    width: 65px;
    display: block;
    border-top: 26px solid #7fad30;
    border-right: 9px solid transparent;
}
.article-right-button4 a{
	display: block;
    position: absolute;
	font-family: 'Play-bold';
	font-size: 14px;
	color: #fff;
    bottom: 5px;
    left: 10px;
}
.article-right-button4:hover{ 
    margin-top: 52px;
    width: 65px;
    display: block;
    border-top: 26px solid #7fad30;
    border-right: 9px solid transparent;
}
.article-right-button5 a{
	display: block;
    position: absolute;
	font-family: 'Play-bold';
	font-size: 14px;
	color: #fff;
    bottom: 5px;
    left: 10px;
}
.article-right-button5:hover{ 
    margin-top: 52px;
    width: 65px;
    display: block;
    border-top: 26px solid #7fad30;
    border-right: 9px solid transparent;
}
/*End Article and Forum*/

/*Start Slick config*/

.sl .slick-dots {
	bottom: 160px;
	
}
.sl .slick-dots li button:before {
	background-image: url(images/Rectangle-1-copy.png);
	background-repeat: no-repeat;
	background-position: center center;
	color: transparent;
	content: "";


}
.sl .slick-dots li {
	margin: 0;
	width: 10px;

}
.sl .slick-dots button {
	width: 5px;
}
.sl.slick-dotted.slick-slider{
	margin-bottom: 0;
}
/*End Slik config*/


/*Forum Posts start*/





.forum-box{
	padding-left: 19px;
	padding-top: 27px;
}
.forum-box2,.forum-box3,.forum-box4,.forum-box5 {
	padding-left: 19px;
	padding-top: 16px;
}
.forum-container,.forum-container2,.forum-container3,.forum-container4,.forum-container5 {
	padding-bottom: 16px;
	border-bottom: 1px solid #c9c9c9;
}
.forum-left,.forum-left2,.forum-left3,.forum-left4,.forum-left5 {
	float: left;
    width: 114px;
    height: 110px;
    background: #a1a1a1;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-left:hover{
    background: #7fad30;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-left2:hover{
    background: #7fad30;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-left3:hover{
    background: #7fad30;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-left4:hover{
    background: #7fad30;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-left5:hover{
    background: #7fad30;
    background-image: url(images/icons/icon7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.forum-right,.forum-right2,.forum-right3,.forum-right4,.forum-right5 {
	width: 175px;
	float: right;
}
.forum-right-text,.forum-right-text2,.forum-right-text3,.forum-right-text4,.forum-right-text5{
	font-family: 'Play-bold';
	text-align: left;
	font-size: 16px;
	color: #5d5d5d;
	padding-right: 2px;
	line-height: 16px;
}
.forum-right-date,.forum-right-date2,.forum-right-date3,.forum-right-date4,.forum-right-date5{
	padding-top: 8px;
	float: left;
	display: block;
    padding-right: 7px;
}
.forum-right-date a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-date2 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-date3 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-date4 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-date5 a{
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-date a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-date2 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-date3 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-date4 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-date5 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-face,.forum-right-face3,.forum-right-face4,.forum-right-face5{
	padding-top: 5px;
	float: left;
	display: block;
}
.forum-right-face2{
	padding-top: 30px;
	display: block;
	text-align: left;
}

.forum-right-face a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-face a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon6.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-face2 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-face2 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon6.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-face3 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-face3 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon6.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-face4 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-face4 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon6.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.forum-right-face5 a {
	font-family: 'Play-bold';
	font-size: 14px;
	color: #8f8f8f;
}
.forum-right-face5 a:before {
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon6.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 18px;
	vertical-align: middle;
}
.more-forum {
    font-family: 'Play-bold';
    font-size: 14px;
    width: 288px;
    background-color: #7fad30;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 35px;

}
.more-forum a  {
	color: white;
}




.pages-box{
    text-align: left;
    background-color: #fff;
    padding-top: 21px;
    padding-left: 15px;
    padding-bottom: 21px;
    position: relative;


}
.pages-box:after{
    content: '';
    width: 100%;
    height: 5px;
    background: #7fad30;
    position: absolute;
    bottom: -5px;
    left: 0;
    
}

.pages-box li{
	text-align: center;
	display: inline-block;
    border: 1px solid #c9c9c9;
    width: 37px;
    height: 35px;
    transform: skew(-20deg);
    margin-right: 7px;
    position: relative;
}
.pages-box li:first-child{
    margin-left: 15px;
}
.pages-box li:hover{
    background: #7fad30;
}
.pages-box li:hover a{
    color: #fff;
}

.pages-box a{
    font-size: 16px;
    transform: skew(20deg);
    font-family: 'Play-Bold';
    color: #c9c9c9;
    line-height: 35px;  
    position: absolute;
    left: 13px;
}


footer {
	width: 100%;
	height:auto;
	margin: 0 auto;
	display: inline-block;
	text-align: center;


}

.about-us {
	width: 100%;
	margin: 0 auto;
	font-size: 20px;
	height: auto;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: #7fad30;
	font-size: 0;
    padding-bottom: 69px;

}
.about-us-box{
	display: inline-block;
	max-width: 1086px;
    vertical-align: top;
    position: relative;
}
.about-us-left li{
    display: block;
}
.about_us{
    text-align: left;
}
.about_us a{
	color: white;
	font-family: 'Play-bold';
	font-size: 24px;
}
.about_us span {
	font-family: 'Play-Regular';
	font-size: 24px;

}
.about_us:before{
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon10.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 38px;
	vertical-align: top;

}
.about-us-left{
	display: inline-block;
	margin-top: 48px;
    margin-right: 159px;
    position: relative;
    bottom: 41px;
    left: 3px;
}
.free_burst{
    padding-top: 35px;
    text-align: left;
}
.free_burst img{
    position: relative;
    top: 7px;
}
.free_burst a{
    color: #4a6221;
    font-family: 'BR';
    font-size: 34px;
}
.our_focus{
    line-height: 1.5;
    font-family: 'OSR';
    font-size: 15px;
    text-align: left;
    color: white;
    padding-top: 36px;
  
}
.about-us-center{
	display: inline-block;
	margin-top: 48px;
    margin-right: 143px;
}

.about-us-right{
	display: inline-block;
	margin-top: 48px;

}
.latest {
    text-align: left;
	color: white;
	font-family: 'Play-bold';
	font-size: 24px;
   

}
.about-us-center span {
	font-family: 'Play-Regular';
	font-size: 24px;
	color: #fff;

}
.latest {
    text-align: left;
    padding-left: 5px;
}
.latest:before{
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon8.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 38px;
	vertical-align: middle;

}
.about-us-center li{
    text-align: left;
    display: block;
}
.au_center_text{
    margin-top: 57px;
    padding-left: 8px;
    padding-right: 30px;
    font-family: 'Play-Bold';
    font-size: 16px;
    text-align: left;
    color: #fff;
    
}
.about-us-center>li>a{
    color: #fff;
}
.follow_block{
    text-align: left;
}
.au_center_text2{
    margin-top: 22px;
    padding-left: 8px;
    padding-right: 30px;
    font-family: 'Play-Bold';
    font-size: 16px;
    text-align: left;
    color: #fff;
}
.au_center_clock{
    margin-top: 15px;
    margin-left: 12px;
    padding-bottom: 15px;
    font-family: 'OSB';
    font-size: 13px;
    color: #fff;
    position: relative;
    text-align: left;
    padding-left: 23px;
    border-bottom: 1px solid #fff;
}
.au_center_clock::before{
    content: '';
    width: 17px;
    height: 16px;
    background: url(images/icons/clock.png);
    position: absolute;
    left: 0px;
    top: 0;

}
.about-us-right{
    position: relative;
    bottom: 64px;
    right: 0;
   
}
.about-us-right a {
	color: white;
	font-family: 'Play-bold';
	font-size: 24px;

}
.about-us-right span {
	font-family: 'Play-Regular';
	font-size: 24px;
	color: #fff;

}
.follow:before{
	content: '';
	display:inline-block;
	background-image: url(images/icons/Icon9.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 48px;
	vertical-align: middle;

}
.au_right_sq_box{
    width: 256px;
    margin-top: 88px;
}
.au_right_sq{
    display: inline-block;
    width: 72px;
    height: 70px;
    transform: skew(-20deg);
    float: left;
    background: #4a6221;
    margin-left: -5px;
   

}
.au_right_sq:before{
     content: '';
    position: absolute;
    top: 22px;
    left: 29px;
    width: 20px;
    height: 29px;
    transform: skew(20deg);
     background: url(images/sprite2.png) no-repeat;
}

    
.au_right_sq2{
    display: inline-block;
    width: 72px;
    height: 70px;
    background-color: #fff;
    transform: skew(-20deg);
  
}
.au_right_sq2:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 19px;
    width: 33px;
    height: 29px;
    transform: skew(20deg);
    background: url(images/sprite2.png) no-repeat;
    background-position: -76px 0;
}

.au_right_sq3{
    display: inline-block;
    width: 72px;
    height: 70px;
    background-color: #fff;
    transform: skew(-20deg);
    float: right;
    margin-right: 13px;
    
}
.au_right_sq3:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 19px;
    width: 33px;
    height: 29px;
    transform: skew(20deg);
    background: url(images/sprite2.png) no-repeat;
    background-position: -161px 0;
}

.follow{
    text-align: left;
}
.freebust{
    background-color: #28292d;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.freebust_container{
    width: 56%;
    height: 70px;
    display: inline-block;
}
.freebust-left{
    float: left;
    color: #fff;
    font-size: 14px;
    font-family:'Play-Bold';
    line-height: 70px;
}
.freebust-left:before{
    content: '© 2016 ';
    font-family:'Play-Regular';
    font-size: 14px;
}
.freebust-right{
    width: 81px;
    height: 70px;
    background: #7fad30;
    float: right;
    color: #fff;
    line-height: 70px;
    font-size: 22px;
    font-family:Arial,sans-serif;
    font-weight: bold;
}

@media(max-width: 656px){
    .nav li{
        margin-right: 4px;
    }
    .head-title h1{
        font-size: 26px;
    }
     .head-title2 h1{
        font-size: 26px;
    }
     .head-title3 h1{
        font-size: 26px;
    }
     .head-title h3{
        font-size: 21px;
    }
     .head-title2 h3{
        font-size: 21px;
    }
     .head-title3 h3{
        font-size: 21px;
    }
    
    .main-box1,.main-box2,.main-box3{
        margin-right: 0;
    }
    .main-container{
        padding-left: 10px;
    }
    .main-foot-btn, .main-foot-btn2, .main-foot-btn3{
        width: 90%;
        margin-top: 10px;
    }
    .main-foot-container a{
        font-size: 12px;
        margin-right: 10px;
    }
     .main-foot-container2 a{
        font-size: 12px;
        margin-right: 10px;
         
    }
     .main-foot-container3 a{
        font-size: 12px;
        margin-right: 10px;
    }
    .main-news-box2{
        width: 100%;
        padding-top: 0;
    }
    .block {
        display: inline-block;
    }
    .blok2{
        border-top: 0;
         background: -moz-linear-gradient(top, rgba(247,247,247,0.8) 0%, rgba(247,247,247,0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf7f7f7', endColorstr='#ccf7f7f7',GradientType=0 );
        border-bottom: 5px solid #a1a1a1;
    }
    .more-box {
        padding-bottom: 20%;
    }
    .articles-box,.articles-box2,.articles-box3,.articles-box4,.articles-box5{
         padding-left: 10px;
    }
    .forum-box,.forum-box2,.forum-box3,.forum-box4,.forum-box5{
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .about-us-left{
        margin-right: 0;
        display: block;
    }
    .about-us-center{
        margin-right: 0;
        display: block;
    }
    .about-us-right{
        position: static;
        display: block;
    }
    .freebust_container{
        width: 100%;
    }
    .main-news-last{
        padding-left: 10px;
    }
    .main-foot-container, .main-foot-container2, .main-foot-container3{
        padding-left: 10px;
    }
    .freebust-left{
        padding-left: 10px;
    }
    .article-left, .article-left2, .article-left3, .article-left4, .article-left5{
        display: inline-block
    }
    .article-right, .article-right2, .article-right3, .article-right4, .article-right5{
        display: inline-block;
        padding-left: 20px;
    }
    .article-container, .article-container2, .article-container3, .article-container4, .article-container5{
        text-align: center;
        display: inline-block;
    }
    .forum-container, .forum-container2, .forum-container3, .forum-container4, .forum-container5{
         text-align: center;
        display: inline-block;
    }
    .forum-left, .forum-left2, .forum-left3, .forum-left4, .forum-left5{
        display: inline-block;
        
    }
    .forum-right, .forum-right2, .forum-right3, .forum-right4, .forum-right5{
        display: inline-block;
        padding-left: 20px;
    }
    .more-forum{
      width: 50%;
      margin: 0 auto;
    }
    .nav {
        float: right;
         margin-right: 20px;

    }
    .nav li:first-child {
        margin-right: 0px;
    }
}
@media screen and (min-width:656px) and (max-width:1101px) {
    .nav li{
        margin-right: 4px;
    }
    .head-title h1{
        font-size: 28px;
    }
     .head-title2 h1{
        font-size: 28px;
    }
     .head-title3 h1{
        font-size: 28px;
    }
     .head-title h3{
        font-size: 23px;
    }
     .head-title2 h3{
        font-size: 23px;
    }
     .head-title3 h3{
        font-size: 23px;
    }
      .main-container{
        padding-left: 10px;
    }
       .main-box1,.main-box2,.main-box3{
        margin-right: 16px;
    }
       .main-news-box2{
        width: 100%;
        padding-top: 0;
    }
       .blok2{
        border-top: 0;
         background: -moz-linear-gradient(top, rgba(247,247,247,0.8) 0%, rgba(247,247,247,0.8) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(247,247,247,0.8) 0%,rgba(247,247,247,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf7f7f7', endColorstr='#ccf7f7f7',GradientType=0 );
        border-bottom: 5px solid #a1a1a1;
    }
    .articles-box,.articles-box2,.articles-box3,.articles-box4,.articles-box5{
        display: inline-block;
    }
      .article-right, .article-right2, .article-right3, .article-right4, .article-right5{
        display: inline-block;
        padding-left: 7px;
    }
    .forum-box,.forum-box2,.forum-box3,.forum-box4,.forum-box5{
        display: inline-block;
        margin-bottom: 30px;
    }
    .forum-right, .forum-right2, .forum-right3, .forum-right4, .forum-right5{
        display: inline-block;
        padding-left: 7px;
    }
     .more-box {
        padding-bottom: 20%;
    }
       .more-forum{
        width: 50%;
        margin: 0 auto;
    }
      .about-us-left,.about-us-center,.about-us-right{
        margin-right: 20px;
        margin-bottom: 70px;
        display: inline-block;
    }
    .main-foot-container, .main-foot-container2, .main-foot-container3 {
        padding-left: 10px;
    }
    .main-news-last {
        padding-left: 10px;
    }
    .nav {
        float: right;
        margin-right: 20px;
  
    }
     .nav li:first-child {
        margin-right: 0px;
    }
}